.grid-container{
    display: grid;
    height: 60vh;
    width: 80vw;
    grid-template-columns: repeat(3, 1fr);
    
}

.grid-counter{
    color: white;
}


.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0.5px solid white;
    margin: 2px;
}


.grid_prop_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}




/* Arrow css */
.arrow-up {
    background-color: #111;
    height: 40px;
    width: 40px;
    display: block;
    border: 1px solid #666;
    position: relative;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    overflow: hidden;
    
  }
  
  .arrow-slide {
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #666;
    position: absolute;
    display: block;
    z-index: 0;
  }
  
  .left-arm {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 3px;
    width: 20px;
    display: block;
    transform: rotate(-45deg);
    &:after {
      content: "";
      background-color: #666;
      width: 20px;
      height: 1px;
      display: block;
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.25, 1.7, 0.35, 1.5);
      transform-origin: right center;
      z-index: -1;
    }
  }
  
  .right-arm {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 17px;
    width: 20px;
    display: block;
    transform: rotate(45deg);
    border-radius: 2px;
    &:after {
      content: "";
      background-color: #666;
      width: 20px;
      height: 1px;
      display: block;
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.25, 1.7, 0.35, 1.5);
      transform-origin: left center;
      z-index: -1;
    }
  }
  
  .arrow-up:hover {
    transition: all .1s;
    .left-arm:after {
      transform: rotate(-10deg);
    }
    .right-arm:after {
      transform: rotate(10deg);
    }
    .arrow-slide {
      transition: all .4s ease-in-out;
      transform: translateY(200%);
    }
  }

#down-arrow{
    rotate: 180deg;
}
  

.arrow-btn{
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
    
}




#start{
  background-color: red;
}